
:root{
--textcolor: #fff;
scroll-behavior: smooth;
}

body{
background-color:#f5f5f5;
}
/* Text */
h1{
    padding: 30px;
    font-size: 20px;
}
h2, h3 , h4, h5, h6 {
    color: #1e1e1e;
    letter-spacing: 1.2;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: bold;
    margin-bottom: 20px;
}
p {
    margin: auto;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 260; 
}

/* Navigation bar */

 .customNav {
    background: url("./components/pages/assets/images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
    z-index: 100;
}
 .nav-item {
    margin: 0px 15px;
    padding: 10px 0 10px 0px;
    position: relative;
}
 .customNav a {
    color:var(--textcolor) !important;
    font-weight: 600;
    letter-spacing: 0.4px;
}
.customNav .nav-link.active {
    color: black !important;
  }
  

 .nav-item a::before {
    content: '';
    position: absolute;
    width:0;    
    height: 2px;
    bottom: 5px;    /* adjusted bottom position */   
    left: 0;
    background-color:var(--textcolor); /* underline color */
    transition: width 0.5s ease;   
}
 .nav-item:hover a::before {
    width:100%
}

/* jumbotron */

 .jumboCopy { 
    margin-top: 180px;
    align-self:flex-start;        
    width: 70%;
    max-width: 700px;
    color:var(--textcolor);

  }
  .avatar{
    background:url(./components/pages/assets/images/Capture.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(130vh - 100px);
    justify-content: center;
    background-position: center center; /*center the image both horizontally and vertically */
    background-attachment: fixed; /* background is fixed */
  }
  .avatar .overlay{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: (130vh - 100px) 
  }

/* Work Section */

   section.work{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
   .effect :hover{              /* creats size-down effect on the card */
    transform: scale(0.9);
    transition: transform 0.3 ease;
    }

    .btn{
    margin: 10px;
    }
    
    .btn-primary:hover {
    background-color: orange; /* change hover color of the button on the card */
    border-color: black; /* change border color*/
    color: black; /* change text color on hover */
    }
    
    .line{
    width: 50px;
    height: 5px;
    background-color: #0078ff;
    margin: 8px auto;
    }


/* About Section */

    #about{
    background-color:var(--textcolor);
    padding-top: 4rem;
    padding-bottom:4rem;
    }
    .image{
    max-width: 30%;
    height: auto;
    border-radius:10%;
    }
  
/* Contact Section */
    .contact{
    padding: 4rem;
    margin-top: 4rem;
    position: relative;
    }
    .bg-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }
    .boxstyle{
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    }
    .title{    
    margin-top: 3%;
    padding-top: 3%;    
    border-bottom:solid 4px orange ;
    padding-bottom:2%;
    }
    .note{
    margin: 12px;
    }
    .social{
    padding: 1rem;
    }
    .social ul{
    list-style: none;
    }
    .social ul li{
    display: inline-block;
    padding: 2%;
    }

/* Custom styles for different screen sizes */
    @media (max-width: 576px) {

   .hero-h1{
    font-size: 28px;  
        }
    .customNav a{
    font-size:16px;
    padding: 0%;
                }
    .custom-p {
    font-size: 14px; /* Small font size for small screens */
        }
    .boxstyle{
    padding: 3rem;
    }
    }
    .circle {
    height: 60px;
    width: 60px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 2px orange;
    display: block;
    }

    .social ul li a:hover svg {      /* Change the fill color of the SVG on hover */
    fill: orange;            
    }

    @media (min-width: 375px) and (max-width: 768px) {
    .hero-h1{
    font-size: 30px;    
        }
    .customNav a{
    font-size:16px;
          }
    .custom-p {
    font-size: 16px; /* Medium font size for medium screens */
        } 
    .boxstyle{
    font: size 14px;
    padding:0px;}
    .circle{
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    }

    } 
    
  
    @media (min-width: 769px) and (max-width: 992px) {
    .hero-h1{
    font-size: 35px;    
        }
    .customNav a{
    font-size:17px;
                  }
    .custom-p {
    font-size: 18px; /* Large font size for large screens */
        }
    
    }
  
    @media (min-width: 993px) {
    .hero-h1{
    font-size: 38px;    
        }
    .customNav a{
    font-size:18px;
          }
    .custom-p {
    font-size: 20px; /* Extra-large font size for extra-large screens */
        }
    }
